.carousel-inner {
  max-height: 675px;
  font-family: 'Oswald', sans-serif;
  background-size: cover;
}

.music__title {
  font-family: 'Bungee', cursive;
  font-size: 150px;
  color: #ffce04;
  margin-bottom: 100px;
  text-shadow: black 3px 3px 6px;
}

.music__text {
  font-size: 20px;
  margin-bottom: 150px;
  text-shadow: black 2px 2px 3px;
}

.intro__inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.intro__title {
  color: #ffce04;
  border: 4px bold #ffce04;
  border-radius: 10px;
  font-family: 'Bungee', cursive;
  font-size: 100px;
  font-weight: 400;
  margin-bottom: 150px;
  line-height: 1.3;
  text-shadow: black 2px 2px 4px;
}

.mag__title {
  font-family: 'Bungee', cursive;
  font-size: 150px;
  color: #ffce04;
  margin-bottom: 100px;
  text-shadow: black 3px 3px 6px;
}


.mag__text {
  margin-bottom: 150px;
  font-size: 20px;
  text-shadow: black 2px 2px 3px;
}

.netflix__title {
  font-family: 'Oswald', sans-serif;
  font-size: 150px;
  color: #e50914;
  margin-bottom: 100px;
  text-transform: uppercase;
  text-shadow: black 3px 3px 6px;

}

.netflix__text {
  font-size: 20px;
  margin-bottom: 150px;
  text-shadow: black 2px 2px 3px;
}
