body {
  background-image: 
  url("../../../landing/images/grad.jpg");
  padding-top: 0px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: white;
  line-height: 1.6;
  background-size: cover;
}

.cont {
	font-family: 'Oswald', sans-serif;
	font-size: 19px;
}
