body {
  padding-top: 0px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: white;
  line-height: 1.6;
  background-image: 
  url("../../../landing/images/night.gif");

}

.header__logo {
	margin-bottom: : 20px;
  font-family: 'Oswald', sans-serif;
	font-size: 200px;
	text-shadow: black 1px 1px 3px;
	color: #ffce04;
	text-align: center;
	text-transform: uppercase;
  border: 10px solid #ffce04;
}