<ng4-loading-spinner></ng4-loading-spinner>
<div class="cont">

<div class="card" *ngFor="let service of asyncCatalog | async | paginate: {id: 'server', itemsPerPage: 9, currentPage: p, totalItems: elements}">

    <img class="card-img-top" src="../../../../../assets/img/{{service.serviceName}}.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Price: {{service.cost}}$</h5>
      <h5 class="card-title">Time: 10 seconds</h5>
      <button class="btn btn-success" (click)="subscribe(service)" *ngIf="isUser()">Subscribe</button>
      <button class="btn btn-outline-danger" *ngIf="isAdmin()">Delete</button>
    </div>
</div>

</div>
<div class="cont-pag">
<pagination-controls class="pagination" *ngIf="elements > 9" (pageChange)="getCurrentPage($event)" id="server"></pagination-controls>
</div>
