.yandex {
  opacity: 0;
  border: 3px solid ghostwhite;
  border-radius: 10px;
  transition: opacity 0.5s ease-in;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 3;
}

.yandex:before {
  opacity: 1;
}

.yandex:hover {
  opacity: 1
}

