<table class="accTable" border="1" width="100%" cellpadding="5" cols="6">
   <tr>
    <th>id</th>
    <th>Name</th>
    <th>Username</th>
    <th>Payment method</th>
    <th>Balance</th>
    <th>Billing Account</th>
   </tr>
   <tr>
    <td>1</td>
    <td>Vadim</td>
    <td>Vadim1337</td>
    <td>CARD</td>
    <td>1337$</td>
    <td>id123456</td>
  </tr>
   <tr>
    <td>2</td>
    <td>Anton</td>
    <td>Joji1998</td>
    <td>WEBMONEY</td>
    <td>-228$</td>
    <td>id3885757</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Eugene</td>
    <td>lowHigh229</td>
    <td>WEBMONEY</td>
    <td>0$</td>
    <td>id22332</td>
  </tr>
 </table>