/* Footer */
.footer {
	padding-top: 20px;
    background-size: cover;
	background-image: 
	url("../images/intro.png");
	background-size: cover;
}

.image_foot {
	max-width: 40px;
	max-height: 40px;		
	vertical-align: top;
	display: inline-block;
}

.footer__inner {
	align-items: baseline;
	display: flex;
	justify-content: space-between;
}

.footer__logo {
	font-family: 'Oswald', sans-serif;
	font-size: 38px;
	margin-bottom: 40px;
	text-shadow: black 2px 3px 0px;
	color: #ffce04;
	margin: auto;
}

.footer__text {
	font-size: 15px;
}

.footer__row {
	font-size: 15px;
}