*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: 'Oswald', sans-serif;
}

.cont {
	font-family: 'Oswald', sans-serif;
	font-size: 19px;
}

/* Container */
.container {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;  
	color: white;
	text-shadow: black 2px 3px 4px;
	font-family: 'Oswald', sans-serif;
}

/* Logo Image */
.image {
	max-width: 40px;
	max-height: 40px;		
	vertical-align: top;
	display: inline-block;
}

