<table class="subsTable" border="1" width="100%" cellpadding="6">
  <tr>
    <th>id</th>
    <th>User_id</th>
    <th>Service</th>
    <th>Service_id</th>
    <th>Time</th>
    <th>State</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Vadim1337</td>
    <td>Music</td>
    <td>Spotify</td>
    <td>25 days</td>
    <td>Active</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Joji1998</td>
    <td>Netflix</td>
    <td>Netflix1month</td>
    <td>12 days</td>
    <td>Active</td>
  </tr>
  <tr>
    <td>3</td>
    <td>lowHigh229</td>
    <td>Magazines</td>
    <td>Cosmopolitan</td>
    <td>10 days</td>
    <td>Blocked</td>
  </tr>
</table>
