.infosite {
  text-align: center;
  background-image: url("~src/assets/img/pattern.jpg");
  padding: 50px;
}

.infosite h1 {
  text-transform: uppercase;
  font-size: 60px;
  margin-top: 0;
  color: #f05f40;
}


