<div class="subscript">
  <section class="infosite">
    <h1>Subscriptions</h1>
  </section>
  <ul>
    <li>
      <img class="ava" src="../../../../../assets/img/spoti.png" alt="user_photo">
      <p class="balance">Spotify 30 days</p>
      <p class="balance">Balance: 228$</p>
      <p class="balance">Expired time: 10 days</p>
      <div class="form-group">
        <button type="submit" class="btn btn-secondary float-right">
          Delete
        </button>
        <button type="submit" class="btn btn-secondary float-right">
          Reload
        </button>
      </div>
    </li>
  </ul>
</div>
