<div class="billingAccount">
  <section class="infosite">
    <h1>Billing Accounts</h1>
    <button type="submit" class="btn btn-secondary float-center">
      Add new billing account
    </button>
  </section>
  <div class="ba_container">
  <ul>
    <li>
      <p class="text">Billing-Account #1 id12345678</p>
      <p class="balance">Balance: 228$</p>
      <div class="form-group">
        <button type="submit" class="btn btn-secondary float-right">
          Delete
        </button>
        <button type="submit" class="btn btn-secondary float-right">
          Add money
        </button>
      </div>
    </li>
    <li>
      <p class="text">Billing-Account #2 id12345678</p>
      <p class="balance">Balance: 228$</p>
      <div class="form-group">
        <button type="submit" class="btn btn-secondary float-right">
          Delete
        </button>
        <button type="submit" class="btn btn-secondary float-right">
          Add money
        </button>
      </div>
    </li>
  </ul>
  </div>
</div>
