<main >
  <section class="infosite">
    <img class="ava" src="https://img.icons8.com/doodle/100/000000/manager.png" alt="user_photo">
    <h1>xXx_Vadim228</h1>
    <p>"Hello, World!"</p>
  </section>
  <section class="col-main">
    <div class="userInfo">
      <p class="field" id="firstName">Name: Vadim</p>
      <p class="field" id="lastName">Surname:</p><p class="value">Karpishuk</p>
      <p class="field" id="userName">Username:</p><p class="value">xXx_Vadim228</p>
      <p class="field" id="email">E-mail:</p><p class="value">vadik1337@mail.ru</p>
    </div>
  </section>
  <aside class="col-sidebar">
    <h4>Billing Accounts</h4>
    <button>New billing account</button>
    <div class="line">
      <p>bill acc #1</p>
      <button>Add money</button>
      <button>Delete</button>
    </div>
  </aside>
  <aside class="col-sidebar-2">
    <h4>Subscriptions</h4>
    <p class="subs">1)Spotify - 3 month</p>
  </aside>
</main>


