<main>
  <section class="infosite">
    <img class="ava" src="https://img.icons8.com/doodle/100/000000/manager.png" alt="user_photo">
    <h1>Username</h1>
    <p>"Status"</p>
  </section>
  <section class="col-main">
    <div class="userInfo">
      <p class="field" id="firstName">Name:</p><p class="value">Vadim</p>
      <p class="field" id="userName">Username:</p><p class="value">Karpishuk</p>
      <p class="field" id="billingAccount №1">Payment method:</p><p class="value">CARD</p>
      <p class="value" id="money">Balance: 1337 u.e.</p>
      <p class="field" id="billingAccount №2">Payment method:</p><p class="value">WEBMONEY</p>
      <p class="value" id="money">Balance: -228 u.e.</p>
    </div>
  </section>
  <aside class="col-sidebar">
    <h4>sdifjiodfdfkspofkopsdkfopdskofpkso
      pfkopskfopksdopfkopsd
      kofksdopfkpsodkfopsdk
    фывфывфывфывфывфыв
    фывфывфывфывфывфы
    фывфывфывфывфывыв
    фывфывфывфывфывфыв
    фывфывфывфывфыв
    фывфывфывфы
      фывфывфывфыв
      фывфывфывфыв
      фывфывфывфыв
      фывфывфывфыв
      фывфывфывфыв
      фывфывфывфыв
      фывфыв</h4>
    <p>sdfsfdsf</p>
  </aside>
</main>


