<main >
  <section class="infosite">
    <img class="ava" src="https://img.icons8.com/cotton/100/000000/check-male.png" alt="user_photo">
    <h1>{{getUserAccount().userName}}</h1>
    <p>Role: "{{getUserAccount().role.name}}"</p>
  </section>
  <section class="userinfo_">
      <p class="field" id="firstName">Name: <a class="value">{{getUserAccount().firstName}}</a></p>
      <p class="field" id="lastName">Surname: <a class="value">{{getUserAccount().lastName}}</a></p>
      <p class="field" id="email">E-mail: <a class="value">{{getUserAccount().email}}</a></p>
  </section>
</main>

