main {
  justify-content: space-between;
  align-items: baseline;
}

.subs {
  color: #f05f40;
}

.line {
  display: inline-block;
  justify-content: space-between;
  align-items: baseline;
}

.field {
	color: white;
	text-shadow: black 1px 1px 0px;
}

.value {
	color: black;
}

.ava {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.infosite {
  text-align: center;
  background-image: url("~src/assets/img/pattern.jpg");
  padding: 50px;
}

.infosite h1 {
  margin-top: 0;
  color: #f05f40;
}

.col-main {
  width: 50%;
  float: left;
  max-height: 500px;
  flex-direction: column;
  border: 5px solid #f05f40;
  padding: 0px;
  min-width: 25%;
  text-align: center;
  background: white;
}

.col-sidebar {
  max-height: 100%;
  width: 25%;
  background: #eee;
  float: right;
  padding: 20px 2.5%;
}

.col-sidebar-2 {
  max-height: 100%;
  width: 25%;
  background: #eee;
  float: right;
  padding: 20px 2.5%;
  border-right: 3px solid black;
}
