*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: 'Oswald', sans-serif;
	background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.cont {
	font-family: 'Oswald', sans-serif;
	font-size: 19px;
}


.content{
	font-family: 'Oswald', sans-serif;
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	min-height: 100vh;
	text-align: center;	
}

.admin {
	padding-top: 40px;
	margin-left: 40px;
	margin-bottom: 40px;
}

.accTable {
	align-content: center;
	padding-bottom: : 10px;
    width: 1000px;
}

.accTable > table {
	padding-bottom: 20px;
}

.subsTable {
	padding-bottom: 10px;
	 width: 1000px;
}

/* User account */
.userInfo {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    border: 8px solid black;
    padding: 0px;
    min-width: 25%;
    padding-top: 200px;
}

.userInfo > p {
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

.field {
	color: white;
	text-shadow: black 1px 1px 0px;
}

.value {
	color: black;
}
