<div class="netflix">

<div class="netflix_day">
  <img class="image" src="../../../../../assets/img/netflix-logo.png" alt="Netflix">
  <div class="netflix-list">
    <div class="netfl_text">Free trial</div>
      <span class="price_netflix">0.00$</span>
      <a href="#" class="button">Subscribe</a>
  </div>
</div>

<div class="netflix_month">
  <img class="image" src="../../../../../assets/img/netflix-logo.png" alt="Netflix">
  <div class="netflix-list">
   <div class="netfl_text">For 6 month</div>
      <span class="price_netflix">49.99$</span>
      <a href="#" class="button">Subscribe</a>
  </div>
</div>


<div class="netflix_year">
  <img class="image" src="../../../../../assets/img/netflix-logo.png" alt="Netflix">
   <div class="netflix-list">
    <div class="netfl_text">For 12 month</div>
      <span class="price_netflix">99.99$</span>
      <a href="#" class="button">Subscribe</a>
    </div>
  </div>
 </div>
