.cont {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  height: 650px;
}

.infosite {
  text-align: center;
  background-image: url("~src/assets/img/netflix-hex-colors-gradient-background.png");
  background-size: cover;
  padding: 50px;
}

.infosite h1 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 140px;
  text-transform: uppercase;
  color: #e50914;
  z-index: 2;
  text-shadow: 2px 2px 3px grey;
}

.card {
  border: none;
  border-radius: 8px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  display: inline-flex;
  position: absolute;
  left: 510px;
  width: 300px;
  margin: 10px 100px 10px 100px;
  -webkit-box-shadow: inset 10px 3px 80px 0px rgba(2,0,10,0.44);
  -moz-box-shadow: inset 10px 3px 80px 0px rgba(2,0,10,0.44);
  box-shadow: inset 10px 3px 80px 0px rgba(2,0,10,0.44);
}

.btn {
  display: inline-block;
  margin-left: 80px;
}

.btn-outline-warning {
  margin-left: 50px;
}

.spinner-grow {
  margin-bottom: 2.5px;
  margin-left: 3px;
}

.pagination {
  margin-left: 40%;
  font-size: 25px;
  text-decoration: none;
}

.cont-pag {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
