.cont {
  background-image: url("~src/assets/img/pattern.jpg");
}

.card {
  background-image: url("~src/assets/img/netflix-hex-colors-gradient-background.png");
  background-size: cover;
  display: flex;
  width: 900px;
  height: 300px;
  margin: 0 300px 30px 300px;
  border: none;
}

.card-title {
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 120px;
  text-transform: uppercase;
  color: #e50914;
  z-index: 2;
  text-shadow: 2px 2px 3px grey;
}

.card-text {
  font-size: 30px;
}

.btn {
  display: inline-block;
  margin-right: 20px;
}
