<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img class="navbar-brand" src="images/logo.png" height="50">
  <a class="navbar-brand" href="#">NetCracker Sub System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../catalog/music_catalog/index.html">Music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../catalog/mag_catalog/index.html">Magazines</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../catalog/netflix_catalog/index.html">Netflix</a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="../auth/index.html">Sign in/Sign up</a>
     </li>
     <li class="nav-item">
      <a href="#" ><img class="nav-link" class="nav-link" src="https://img.icons8.com/metro/24/000000/user-male-circle.png">  </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../account/index.html">User/Admin</a>
    </li>
  </ul>
  
</div>
</nav>