<ng-container *ngIf="isAdmin()">
<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">№</th>
    <th scope="col">Username</th>
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
    <th scope="col">E-Mail</th>
    <th scope="col">Role</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users" data-toggle="collapse" data-target="#accordion" class="clickable">

    <ng-container *ngIf="user.role.name == 'Admin'">
    <th class="bg-warning" scope="row">{{user.id}}</th>
    <td>{{user.userName}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.email}}</td>
    <td><img src="https://img.icons8.com/ios/50/000000/manager.png">{{user.role.name}}<ng-container *ngIf="user.userName == 'Admin'">*</ng-container></td>
    <td></td>
      <ng-container *ngIf="isSuperAdmin()">
    <td><button type="button" class="btn btn-warning" *ngIf="user.userName != 'Admin'" (click)="changeRoleToUser(user.id, user.role)">Change role to User</button></td>
      </ng-container>
      <td *ngIf="!isSuperAdmin()"></td>
    </ng-container>

    <ng-container *ngIf="user.role.name == 'User'">
      <th scope="row">{{user.id}}</th>
      <td>{{user.userName}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td><img src="https://img.icons8.com/cotton/50/000000/person-male.png">{{user.role.name}}</td>
      <td><button type="button" class="btn btn-link" (click)="checkUserSubscriptions(user.id)" [routerLink]="['/admin/user-subs']"><a *ngIf="flag == true" >aaa</a>Check subscriptions</button></td>
      <td><button type="button" class="btn btn-success" *ngIf="isSuperAdmin()" (click)="changeRoleToAdmin(user.id, user.role)">Change role to Admin</button></td>
    </ng-container>

  </tr>
  </tbody>
</table>
</ng-container>

