<div id="accordion" *ngFor="let user of users">

  <div class="card">
    <div class="card-header" id="collapse">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          id: {{user.id}} - {{user.userName}}
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="collapseOne">
      <div class="card-body">
        <table class="table table-striped">
          <thead class="thead-dark">
          <tr>
            <th scope="col" >Service</th>
            <th scope="col">Cost</th>
            <th scope="col">Status</th>
            <th scope="col">Start time</th>
            <th scope="col">Expired time</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let sub of subs">
            <th scope="row">{{sub.service.serviceName}}</th>
            <td >{{sub.service.cost}}</td>
            <td>{{isActive(sub.active)}}</td>
            <td>{{setTime(sub.startTime)|date:'medium'}}</td>
            <td>{{setTime(sub.expiredTime)|date:'medium'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
