/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  background-image: url("assets/img/back2.jpg");
	font-family: 'Oswald', sans-serif;
  background-size: cover;
}

.transition {
  transition: all 0.2s ease-in-out;
}
