body {
  padding-top: 0px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: white;
  line-height: 1.6;
  background-image: 
  url("../../../landing/images/intro.png");
  background-size: cover;

}

.cont {
  font-family: 'Oswald', sans-serif;
  font-size: 19px;
}


