body {
  padding-top: 0px;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: white;
  line-height: 1.6;
  background-image: 
  url("../../../landing/images/blur.jpg");
  background-size: cover;

}

.header {
  border-bottom: 10px solid #ffce04;
}

.header__logo {
	margin-bottom: 50px;
  font-family: 'Oswald', sans-serif;
	font-size: 228px;
	color: #ffce04;
	text-align: center;
	text-transform: uppercase;
}

.back {
  display: inline-block;
  vertical-align: top;
  color: white;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-decoration: none;
  text-shadow: black 0px 0px 1px;
  margin-left: 10px;
  margin-bottom: -40px;
}

