.nav-link {
	cursor: pointer;
}

.nav-tabs > li > a {
    margin-right: 0px;
    color:grey;
}

.login {
  margin-bottom: 5px;
}

.acc {
  margin-right: 8px;
}

.spin {
  font-family: 'Bungee', cursive;
  font-size: 30px;
  margin-left: 10px;
  color: lightgrey;
}

