<ngx-spinner
  bdColor="rgba(51,51,51,1)"
  size="large"
  color="#fff"
  type="ball-scale-multiple">
  <p class="spin">Loading...</p>
</ngx-spinner>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img class="navbar-brand" src="https://img.icons8.com/ios/50/000000/flash-bang.png">
  <a class="navbar-brand" routerLink="/home">NetCracker Sub System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/catalog/music']">Music</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/catalog/magazines']">Magazines</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/catalog/netflix']">Netflix</a>
      </li>
      <li class="nav-item dropdown" [routerLinkActive]="['active']">
        <a class="nav-link dropdown-toggle" *ngIf="isUser()" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{headerUserName()}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/account/user']"><img class="acc" src="https://img.icons8.com/ios/24/000000/contacts.png">Personal information</a>
          <a class="dropdown-item" [routerLink]="['/account/subs']"><img class="acc" src="https://img.icons8.com/ios/24/000000/folder-invoices.png">Subscriptions</a>
          <a class="dropdown-item" [routerLink]="['/account/player']" *ngIf="isThereYandex()"><img class="acc" src="https://img.icons8.com/ios/24/000000/headphones.png">Yandex.Player</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/account/billing']"><img class="acc" src="https://img.icons8.com/ios/24/000000/wallet.png">Billing account</a>
        </div>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" *ngIf="isAdmin()">
        <a class="nav-link" [routerLink]="['/admin']">ADMIN</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/auth']" *ngIf="!isAuthorized()"><img class="login" src="https://img.icons8.com/ios/32/000000/user-male-circle-filled.png">Sign in/Sign up</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/auth']" (click)="signOut()" *ngIf="isAuthorized()"><img class="login" src="https://img.icons8.com/ios/28/000000/exit.png">Exit</a>
      </li>
    </ul>
  </div>
</nav>

